.nav-header {
    height: 50px;
    display: flex;
    color: #f2f2f2;
    font-family: "Segoe UI", Arial, sans-serif;
    background-color: #5a5a5a;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
    justify-content: space-between;
}

.nav-item-group {
    display: block;
    horiz-align: right;
}

.nav-item {
    float: left;
    display: block;
    width: auto;
    height: 50px;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
    font-size: 1.1em;
    padding-left: 15px;
    padding-right: 15px;
}

.nav-item:hover {
    cursor: pointer;
    background-color: #000;
}

.branding {
    cursor: pointer;
    display: block;
    width: 250px;
    height: 50px;
    padding-left: 10px;
}

.branding:hover {
    cursor: pointer;
    background-color: #000;
}

.brand-title {
    font-size: 1.5em;
    line-height: 50px;
}

