.card-space {
    display: flex;
    justify-content: space-around;
    height: calc(100% - 100px);
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
    overflow: hidden;
}
