<mwa-power-spectra-ribbon (cardSizeEvent)="cardSizeEventHandler($event)"></mwa-power-spectra-ribbon>

<div id="cardSpace" class="card-space">
  <mwa-power-spectra-card
      *ngFor="let item of cardList"
      [width]="cardSize" [height]="cardSize"
      [label]="item.getLabel()"
  >
  </mwa-power-spectra-card>
</div>
