<div class="ribbon">

  <span class="ribbon-header">Filter Options:</span>

  <div class="mwa-button-group">
    <div *ngFor="let item of filterButtons"
        class="mwa-button ribbon-button"
        (click)="item.func"
    >
      {{item.label}}
    </div>
  </div>

  <div class="polarity-checkboxes">
    <div>
      <input type="checkbox" name="showXCheckbox" checked>
      <label>Show X Polarity</label>
    </div>
    <div>
      <input type="checkbox" name="showYCheckbox" checked>
      <label>Show Y Polarity</label>
    </div>
  </div>

  <div class="mwa-button-group">
    <div *ngFor="let item of cardSizeButtons"
        class="mwa-button ribbon-button"
        (click)="setCardSize(item.size)"
    >
      {{item.label}}
    </div>
  </div>

</div>