.ribbon {
    width: 100%;
    height: 50px;
    color: #f2f2f2;
    background-color: #5a5a5a;
    border-top: solid 1px #808080;
    display: flex;
    margin: 0;
    font-family: "Segoe UI", Arial, sans-serif;
    justify-content: space-between;
}

.ribbon-header {
    font-size: 1.2em;
    line-height: 50px;
    margin-left: 10px;
}

.ribbon-button {
    line-height: 34px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0 2px;
}

.polarity-checkboxes {
    padding-top: 4px;
}

label, input {
    font-family: "Segoe UI", Arial, sans-serif;
    margin: inherit;
    font-weight: inherit;
}
