.container {
  width: 100%;
  height: 100%;
  margin: 2% 3% 2% 3%;
}

.tile-table {
  border-collapse: separate;
  position: absolute;
  top: 12%;
  left: 2%;
  width: 30%;
  height: 5%;
  font-family: "Segoe UI", Arial, sans-serif;
  border: solid 1px black;
  border-radius: 6px;
}

.tile-label {
  padding: 2% 2% 2% 2%;
  text-align: left;
  font-weight: bold;
  color: white;
  background-color: #5a5a5a;
  border-bottom: solid 1px black;
}

.tile-body > td {
  text-align: center;
  font-size: 2em;
  padding: 2% 1% 1% 1%;
}

.graph-table {
  border-collapse: separate;
  position: absolute;
  top: 12%;
  left: 2%;
  width: 60%;
  height: 55%;
  font-family: "Segoe UI", Arial, sans-serif;
  border: solid 1px black;
  border-radius: 6px;
}

.graph-label {
  padding: 2% 2% 2% 2%;
    height: 10%;
  text-align: left;
  font-weight: bold;
  color: white;
  background-color: #5a5a5a;
  border-bottom: solid 1px black;
}

.graph-body > td {
  text-align: center;
  font-size: 2em;
  padding: 2% 1% 1% 1%;
}