<mwa-statistics-ribbon></mwa-statistics-ribbon>

<div class="container">
  

  <!-- Number of bad Dipoles -->
  <table class="statistics-table">
    <tr>
      <td class="statistics-table-label">Number of Bad Dipoles</td>
    </tr>
    <tr class="statistics-table-body">
      <td>220</td>
    </tr>
  </table>

  <!-- Number of tiles flagged -->
  <table class="statistics-table" style="left:35%">
    <tr>
      <td class="statistics-table-label">Number of Tiles Flagged</td>
    </tr>
    <tr class="statistics-table-body">
      <td>50</td>
    </tr>
  </table>

  <!-- Number of beamformers with at least one bad dipole -->
  <table class="statistics-table" style="left:68%">
    <tr>
      <td class="statistics-table-label">Number of beamformers with at least one bad dipole</td>
    </tr>
    <tr class="statistics-table-body">
      <td>10</td>
    </tr>
  </table>

  <!-- Tiles Flagged -->
  <table class="tiles-flagged-table">
      <tr>
        <td class="tiles-flagged-label"
            colspan="2">
          Tiles Flagged
        </td>
        <td class="tiles-flagged-button"
            colspan="2">
          <button class="mwa-button view-all">View All</button>
        </td>
      </tr>
      <tr class="tiles-flagged-header">
        <td>Tile</td>
        <td>Number of Anomalous Dipoles</td>
        <td>Number of Malfunctioning Dipoles</td>
      </tr>
      <tr class="tiles-flagged-body"
          *ngFor="let element of tiles"
      >
        <td><a href="statistics-tile-details">{{element.tileNumber}}</a></td>
        <td>{{element.anomalousDipoles}}</td>
        <td>{{element.malfunctioningDipoles}}</td>
      </tr>
    </table>
  
    <table class="statistics-table" style="top:65%">
    <tr>
      <td class="statistics-table-label">Anomalous Readings</td>
    </tr>
    <tr class="statistics-table-body">
      <td>anomaly type x has occured n times with an occurrence rate of k</td>
    </tr>
  </table>

    <!-- Graph -->
  <table class="graph-table">
    <tr>
      <td class="graph-label">Graph</td>
    </tr>
    <tr class="graph-body">
      <td>x axis = date, y axis = number of anomalous readings</td>
    </tr>
  </table>

        <!-- 
        <select>
        <option *ngFor ="t in list" value="{{t.type}}"></option>
        /</select>
        -->

</div>
