.ribbon-container {
    width: 100%;
    height: 50px;
    color: #f2f2f2;
    background-color: #5a5a5a;
    border-top: solid 1px #808080;
    display: flex;
    font-family: "Segoe UI", Arial, sans-serif;
    margin-bottom: 1%;
}

.ribbon-header {
    font-size: 1.2em;
    line-height: 50px;
    margin-left: 10px;
}

.filter-button {
    line-height: 34px;
    padding-left: 5px;
    padding-right: 4px;
    margin: 0 2px;
}