<div class="ribbon-container">
  <span class="ribbon-header">Filter Options:</span>

  <div class="mwa-button-group">
    <div *ngFor="let element of filters"
         class="mwa-button filter-button"
    >
      {{element.label}}
    </div>
  </div>
</div>