.container {
  width: 100%;
  height: 100%;
  margin: 2% 3% 2% 3%;
}

.statistics-table {
  border-collapse: separate;
  position: absolute;
  top: 12%;
  left: 2%;
  width: 30%;
  height: 5%;
  font-family: "Segoe UI", Arial, sans-serif;
  border: solid 1px black;
  border-radius: 6px;
}

.statistics-table-label {
  padding: 2% 2% 2% 2%;
  text-align: left;
  font-weight: bold;
  color: white;
  background-color: #5a5a5a;
  border-bottom: solid 1px black;
}

.statistics-table-body > td {
  text-align: center;
  font-size: 2em;
  padding: 2% 1% 1% 1%;
}

.tiles-flagged-table {
  position: absolute;
  top: 30%;
  left: 2%;
  background-color: white;
  border-collapse: separate;
  border: solid 1px black;
  width: 96%;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.tiles-flagged-label {
  padding: 1% 1% 1% 1%;
  text-align: left;
  font-weight: bold;
  color: white;
  background-color: #5a5a5a;
  border-bottom: solid 1px black;
}

.tiles-flagged-button {
  border-bottom: solid 1px black;
  background-color: #5a5a5a;
  text-align: right;
  padding: 1% 1% 1% 1%;
}

.mwa-button.view-all {
  border: solid 1.1px white;
}

.tiles-flagged-header > td {
  border-bottom: solid 1px black;
  font-weight: bold;
}

.tiles-flagged-body > td {
  border-bottom: solid 1px black;
  padding-top: 3px;
  padding-bottom: 3px;
}

.graph-table {
  border-collapse: separate;
  position: absolute;
  top: 60%;
  left: 35%;
  width: 60%;
  height: 35%;
  font-family: "Segoe UI", Arial, sans-serif;
  border: solid 1px black;
  border-radius: 6px;
}

.graph-label {
  padding: 2% 2% 2% 2%;
    height: 10%;
  text-align: left;
  font-weight: bold;
  color: white;
  background-color: #5a5a5a;
  border-bottom: solid 1px black;
}

.graph-body > td {
  text-align: center;
  font-size: 2em;
  padding: 2% 1% 1% 1%;
}