<mwa-statistics-ribbon></mwa-statistics-ribbon>
<div class="container">
  

  <!-- Number of Malfunctioning Dipoles -->
  <table class="tile-table">
    <tr>
      <td class="tile-label">Number of Malfunctioning Dipoles</td>
    </tr>
    <tr class="tile-body">
      <td>2</td>
    </tr>
  </table>

  <!-- Number of anomalous dipoles -->
  <table class="tile-table" style="left:35%">
    <tr>
      <td class="tile-label">Number of Anomalous Dipoles</td>
    </tr>
    <tr class="tile-body">
      <td>10</td>
    </tr>
  </table>

  <!-- Number of beamformers with at least one bad dipole -->
  <table class="tile-table" style="left:68%">
    <tr>
      <td class="tile-label">Number of Beamformers With At Least One Bad Dipole</td>
    </tr>
    <tr class="tile-body">
      <td>2</td>
    </tr>
  </table>

  <!-- Number of anomalous readings -->
  <table class="tile-table" style="top:40%;left:2%">
    <tr>
      <td class="tile-label">Anomalous Readings</td>
    </tr>
    <tr class="tile-body">
      <td>anomaly type x has occured n times with an occurrence rate of k</td>
    </tr>
  </table>

  <!-- Graph -->
  <table class="graph-table" style="top:40%;left:35%">
    <tr>
      <td class="graph-label">Graph</td>
    </tr>
    <tr class="graph-body">
      <td>x axis = date, y axis = number of anomalous readings</td>
    </tr>
  </table>

  </div>