<div class="dropdown">
  <button class="dropbtn"
          (click)="showDropdown = !showDropdown"
  >
    Action
    <span class="caret"></span>
  </button>
  <div class="dropdown-content"
        [style.display]="getDisplayState()">
    <a *ngFor="let element of dropdownItems"
       (click)="routeTo(element.link)"
    >
      {{element.label}}
    </a>
  </div>
</div>