.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  width: 135%;
  background-color: #f2f2f2;
  color: black;
  border: solid 1px #8c8c8c;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  cursor: pointer;
}

.dropdown-content {
  width: 135%;
  cursor: pointer;
  display: none;
  position: absolute;
  background-color: white;
  border: solid 1px #8c8c8c;
  border-radius: 5px;
  text-align: center;
  padding: 4px 0px 4px 0px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: grey;
  color: white;
}

.dropdown:hover .dropbtn {
  background-color: grey;
  color: white;
}