.singular-container {
  width: 100%;
  height: 100%;
  margin: 2% 3% 2% 3%;
}

.mwa-button.back {
  position: fixed;
  margin-right: 1%;
  left: 2%;
  width: 5%;
}

.caret-left {
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  border-right: 4px solid #ffffff;
  display: inline-block;
  height: 0;
  opacity: 0.3;
  vertical-align: middle;
  width: 0;
}

.dipole-summary-table {
  border-collapse: separate;
  position: absolute;
  left: 9%;
  width: 43.5%;
  height: 5%;
  font-family: "Segoe UI", Arial, sans-serif;
  border: solid 1px black;
  border-radius: 6px;
}

.summary-table-label {
  padding: 2% 2% 2% 2%;
  text-align: left;
  font-weight: bold;
  color: white;
  background-color: #5a5a5a;
  border-bottom: solid 1px black;
}

.summary-body > td {
  text-align: left;
  font-size: 0.9em;
  padding: 2% 1% 1% 1%;
}

.malfunc-dipoles-table {
  position: absolute;
  top: 27%;
  left: 2%;
  background-color: white;
  border-collapse: separate;
  border: solid 1px black;
  width: 96%;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.malfunc-table-label {
  padding: 1% 1% 1% 1%;
  text-align: left;
  font-weight: bold;
  color: white;
  background-color: #5a5a5a;
  border-bottom: solid 1px black;
}

.malfunc-table-button {
  border-bottom: solid 1px black;
  background-color: #5a5a5a;
  text-align: right;
  padding: 1% 1% 1% 1%;
}

.mwa-button.view-all {
  border: solid 1.1px white;
}

.malfunc-table-header > td {
  border-bottom: solid 1px black;
  font-weight: bold;
}

.malfunc-table-body > td {
  border-bottom: solid 1px black;
  padding-top: 3px;
  padding-bottom: 3px;
}

.weather-data-table {
  position: absolute;
  top: 75%;
  left: 2%;
  background-color: white;
  border-collapse: separate;
  border: solid 1px black;
  width: 96%;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.weather-data-label > td {
  border-bottom: solid 1px black;
  padding: 1% 1% 1% 1%;
  text-align: left;
  font-weight: bold;
  color: white;
  background-color: #5a5a5a;
}

.weather-data-body > td {
  text-align: left;
  padding: 1% 1% 1% 1%;
}