.container {
    width: 98%;
    height: 89%;
    border: solid 1px #c1c1c1;
}

.report-table {
    width: 100%;
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 1em;
    text-align: left;
}

.report-table-head > td {
    border-bottom: solid 1px #c1c1c1;
    font-size: 1.15em;
    font-weight: bold;
}

.report-table-row1 > td {
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: solid 1px #c1c1c1;
}

.report-table-row > td {
    border-bottom: solid 1px #c1c1c1;
    padding-bottom: 5px;
    padding-top: 5px;
}
