<div class="singular-container">
  <!-- Back button -->
  <button class="mwa-button back"
          (click)="routeTo('health-reports')">
    <span class="caret-left"></span>
    Back
  </button>

  <!-- Total Functioning Dipole -->
  <table class="dipole-summary-table">
    <tr>
      <td class="summary-table-label">Total Functioning Dipoles</td>
    </tr>
    <tr class="summary-body">
      <td>112</td>
    </tr>
    <tr class="summary-body">
      <td style="color: red">
        <span class="caret" style="color: red;"></span>
        -10% from yesterday
        <span class="dropup" style="color: green">
              <span class="caret" style="color: green"></span>
              +15% from last week
            </span>
      </td>
    </tr>
  </table>

  <!-- Total Non-Functioning Dipole-->
  <table class="dipole-summary-table" style="left:54.5%">
    <tr>
      <td class="summary-table-label">Total Non-Functioning Dipoles</td>
    </tr>
    <tr class="summary-body">
      <td>404</td>
    </tr>
    <tr class="summary-body">
      <td style="color: red">
        <span class="caret" style="color: red;"></span>
        -15% from yesterday
        <span class="dropup" style="color: green">
              <span class="caret" style="color: green"></span>
              +30% from last week
            </span>
      </td>
    </tr>
  </table>

  <!-- Table of Malfunctioning Dipoles -->
  <table class="malfunc-dipoles-table">
      <tr>
        <td class="malfunc-table-label"
            colspan="2">
          Table of Malfunctioning Dipoles
        </td>
        <td class="malfunc-table-button"
            colspan="2">
          <button class="mwa-button view-all">View All</button>
        </td>
      </tr>
      <tr class="malfunc-table-header">
        <td>#</td>
        <td>Tile #</td>
        <td>Dipole</td>
        <td>Anomaly Type</td>
      </tr>
      <tr class="malfunc-table-body"
          *ngFor="let element of dipoles"
      >
        <td>{{element.num}}</td>
        <td>{{element.tileNum}}</td>
        <td>{{element.dipoleID}}</td>
        <td>{{element.anomaly}}</td>
      </tr>
    </table>

  <!-- Weather Data -->
  <table class="weather-data-table">
    <tr class="weather-data-label">
      <td>Weather Data</td>
    </tr>
    <tr class="weather-data-body">
      <td>
        24 Hour Rainfall (mm): 10
        <br>
        Rainfall (mm): 10</td>
    </tr>
  </table>
</div>