<mwa-health-report-ribbon></mwa-health-report-ribbon>

<div class="container">
  <table class="report-table">
    <thead>
      <tr class="report-table-head">
        <td>Report #</td>
        <td>Date</td>
        <td>Actions</td>
      </tr>
    </thead>
    <tbody>
      <tr class="report-table-row1"
          *ngFor="let element of tableRows"
      >
        <td>{{element.id}}</td>
        <td>{{element.date}}</td>
        <td><mwa-health-report-dropdown></mwa-health-report-dropdown></td>
      </tr>
    </tbody>
  </table>
</div>